@charset 'utf-8';
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap");
}

/* @supports (-webkit-touch-callout: none) {
    body {
        font-weight: 700; /* Safari에서만 적용 */
    /* } */
/* } */

html {
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* html 루느 노드의 font-size */
    font-size: 14px;
    /* height: 100%; */
}

body {
    /* 가로 스크롤이 안 생기도록 */
    overflow-x: hidden;
    letter-spacing: -0.05em;
    /* height: 100%; */
}

a {
    color: black;
    /* font-size: 2rem; */
    /* 링크 및줄 제거 */
    text-decoration: none;
    /* font-size: 14px; */
}

.container {
    /* 모바일 기기에서 가로 스크롤 방지 */
    overflow-x: hidden;
}

/* -------------- nav setting -------------- */
.nav-sticky .nav-container {
    position: fixed;
    top: 0;
}

.nav-container {
    /* position: absolute 일때는 강제로 width 늘려줘야함 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    height: 44px;
    padding: 0 1rem;
    backdrop-filter: blur(10px);
}

.main-nav {
    display: flex;
    align-items: center;

    max-width: 1000px;
    /* width: 100%; */
    height: 100%;
    margin: 0 auto;
}

.main-nav .logo {
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: 700;
}

.main-nav a:not(.logo) {
    margin-left: 2rem;
    font-size: 0.8em;
}

/* -------------- nav setting -------------- */

/* -------------- main-container -------------- */

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid-container {  /* 수정하기 */
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: grid;
    width: 80%;
    /* align-items: center; */
    justify-content: center;

    /* grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
    /* row-gap: 20px; column-gap: 20px; */
}

.content {
    background-color: coral;
    height: 150px;
    width: 150px;
    padding: 0.5em 0.5em;
}

.content a {
    font-size: 14px;
    font-style: italic;
    /* font-weight:505; */
}

.content p {
    font-size: 12px;
    font-style: oblique;
    /* font-weight:510; */
}

.footer {
    /* position: fixed;
    bottom: 0; */
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    font-weight: 600;
    font-size: 1.1em;
}

/* -------------- main-container -------------- */

/* -------------- upload-container -------------- */

.upload-container {
    padding-top: 13vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    width: 60%;
}

textarea {
    width: 100%;
    height: 300px;
}

input,
textarea,
button {
    width: 100%;
    border-radius: 3px;
    border: 1.5px solid;
    margin-bottom: 5px;
    margin-top: 2px;
    /* font-size: 16px; */
}

#uploadButton {
    color: coral;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
}

/* -------------- upload-container -------------- */

/* -------------- post-container -------------- */

.post-container {
    padding-top: 10vh;
    padding-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 40vw;
}

.post-container img {
    height: auto;
    /* width: 700px; */
    margin: 0 auto;
    /* margin: 20px 0; */
}

.post-container p {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 700px;
    width: 90vw;
}

.post-container button {
    margin-left: 900px;
    font-size: smaller;
    color: grey;
}

/* -------------- post-container -------------- */

/* -------------- login-container -------------- */

.signIn-container,
.signUp-container {
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin-right: 50px;

}

#signInButton,
#signUpButton {
    color: coral;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

/* -------------- login-container -------------- */

/* -------------- mypage-container -------------- */

.aboutMe-container,
.mypage-container {
    /* position: absolute; */
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin-right: 50px;
    margin: auto;

    /* width: 100%; */
}

.coverflow-container {

    left: 0;
    right: 0;
    margin: auto;
    /* width: 100%; */
    -webkit-overflow-scrolling: touch;
    /* iOS에서 스크롤이 부드럽게 동작하도록 설정 */
}

/* .titleBox {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #333; /* 원하는 색상으로 변경 가능 */


/* scroll bar */
.coverflow-container::-webkit-scrollbar {
    width: 10px;
}

.coverflow-container::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
}

.coverflow-container::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px white;
}

/* scroll bar */

.coverflow-container .content a {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}

.coverflow-container .content p {
    font-size: 16px;
    font-style: normal;
}

.content2 {
    padding-top: 1vh;
}

.content2 a {
    font-size: 21px;
    /* font-style:italic; */
    font-weight: bold;
}

.content:hover {
    transform: scale(0.98);
}

.list-container {
    padding: 3vh 0;
    max-width: 1000px;
    /* width: 70vw; */
    left: 0;

    line-height: 1.3;
}

.author {
    display: inline-block;
    padding-left: 100px;
    /* 적절한 값으로 조절하세요 */
}

/* -------------- mypage-container -------------- */

/* 1024px 보다 커지면(데스크탑 용) */
@media (min-width: 1024px) {
    .coverflow-container {
        width: 1000px;
    }

    .aboutMe-container,
    .mypage-container {
        padding-top: 17vh;
    }

    .upload-container {
        padding-top: 20vh;
    }

    .grid-container {
        /* padding-top: 17vh; */
        padding-bottom: 5vh;
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
    }

    .content2 a {
        font-size: 23px;
        /* font-style:italic; */
        font-weight: bold;
    }
}