*.log
firebase-debug.log*
firebase-debug.*.log*

.firebase*
firebase.json
firestore.indexes.json

node_modules/
package-lock.json

.DS_Store

.npm
.yarn-integrity

.eslintcache

.env

.vscode/

login.html
upload.html
